/.agents export-ignore
/.codex export-ignore
/.github export-ignore
/.distignore export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/docs export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpcs.xml.dist export-ignore
/scripts export-ignore
/src export-ignore
/tests export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore

